

.bg-orinoco {
    background-color: #f3e9f1;
}
.titre-banniere {
    margin-bottom: 18px;
}
.img-banniere {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.subtitle-banniere,.titre-banniere {
    position: relative;
    z-index: 2;
}

.card {

    img {
        height: 120px;
        object-fit: cover;
    }
} 

.col{
    margin-bottom: 20px;
}